---
layout: default
---

<div class="home">

  {{ content }}
<h1> Links </h1>
 
<div class="post-content" itemprop="articleBody">
   This page contains links that I did not write about, 
   even thought they caught my interest one way or the other. To go back to the "main" blog, just click on the title or <a href="1morestudent.github.io">here</a>. 

  </div>

<hr>

  <ul class="post-list">
    {% for post in site.posts %}
	    {% if post.type contains 'link' %}
	      <li>
	        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
	        <span class="post-meta">{{ post.date | date: date_format }}</span>
	        <div class="post-content" itemprop="articleBody">
	          {{ post.content }}
	        </div>
	        
	        
	      </li>
	    {% endif %} 
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
