---
layout: default
---

<div class="home">

  {{ content }}
<h1> Texts </h1>
 
<div class="post-content" itemprop="articleBody">
   This page contains longer texts... so none, up till now ^^
  </div>

<hr>

  <ul class="post-list">
    {% for post in site.posts %}
	    {% if post.type contains 'text' %}
	      <li>
	        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
	        <span class="post-meta">{{ post.date | date: date_format }}</span>
	        <div class="post-content" itemprop="articleBody">
	          {{ post.content }}
	        </div>
	        
	        
	      </li>
	    {% endif %} 
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
